<div class="text-center">
  <form class="container">
    <div class="col-sm-12">
    <h1>Where would you like to go?</h1>
    <div ui-view></div>

    <input type="text" ng-model="selected" placeholder="Type in a city name" typeahead="data.name + ' - ' + data.code for data in data | filter:$viewValue | limitTo:8" class="form-control text-center" ng-required="true">

    <a href="#/location" class="smooth-scroll btn btn-danger btn-next" ng-disabled="!selected" ng-click="submit('destination', selected)">NEXT</a>
    </div>
  </form>
</div>